<div id="footerDiv">
<hr class="rounded" id="round">
<h3 id="footerMessage"> Highest level achieved : Distinction</h3>
<div id="links">
<a href="https://www.facebook.com/"><button class='btn btn-primary'>Facebook</button></a>
<a href="https://twitter.com/"><button class='btn btn-info'>Twitter</button></a>
<a href="https://www.linkedin.com/"><button class='btn btn-light'>LinkedIn</button></a>
</div>
</div>