<div id="headerDiv">
<h1 id="homeLink"><%= link_to "Welcome to Quiz+", "/home" %> </h1>
<hr class="rounded" id="round">
<h3 id="headerName"> Built by Cass Ilangantileke <br> s3742928@student.rmit.edu.au </h3>
<hr class="rounded" id="round">
</div>