html {
    min-height: 100%;
    position: relative
}
  
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #818a97;

}

#headerDiv h1{
    text-align: center;
}



#footerDiv {
    min-width: 100%;
    position: absolute; 
    bottom: 0;
}